@model IEnumerable<Plan.Models.Task>

@{
	ViewBag.TitleName = "Управление занятиями";
	Layout = "~/Views/MasterTemplate.cshtml";
}

<table class="table table-striped">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.StartDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.StartTime)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.EndTime)
		</th>
		<th>
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StartDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StartTime)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EndTime)
			</td>
			<td>
				@Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Удалить", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

	<tr>
		<td colspan="5">
			@Html.ActionLink("+ Создать занятие", "Create")
		</td>
	</tr>
</table>